<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
		<style>
			.facebook {
				background-color: #3b5998 !important;
				color: #fff !important;
			}
			.google {
				background-color: #fafafa !important;
        color: black;
			}
		</style>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <img class="" alt="logo" src="https://stdportal.tdtu.edu.vn/Content/images/image.png" width="100" height="45">
    </li>
    <li class="nav-item">
      <img alt="banner" src="https://stdportal.tdtu.edu.vn/Content/images/banner.png" width="800" height="45">
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <div class="col s4 offset-s6 pull-s3">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="color:rgb(86, 103, 199);font-weight: bold;">LOGIN STUDENT PORTAL</span>
            </div>
            <div class="card-action">
                          <form class="login-form" action="login" method="post">
                              <div class="row">
                              </div>
                              <div class="row">
                                  <div class="input-field col s12">
                                      <i class="material-icons prefix">account_circle</i>
                                      <input class="validate" id="username" name="username" type="text" placeholder="Username"> 
                                      <label for="authId" data-error="wrong" data-success="right"></label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="input-field col s12">
                                      <i class="material-icons prefix">lock_outline</i>
                                      <input id="password" type="password" name='password' placeholder="Password">
                                      <label for="password"></label>
                                  </div>
                              </div>
                              <!-- <% if (login_errors) { %>
                                <h2><%= login_errors[login_errors.length - 1] %></h2>
                              <% } %> -->
                              <div class="row">
                                  <div class="input-field col s12">
                                      <button class="btn waves-effect waves-light col s10 offset-s7 pull-s6 btn-lg btn-block btn-outline" style="background-color: rgb(148, 161, 231);font-weight: bold;">Login</button>
                                  </div>
                              </div>
                          </form>
                        <div class="col-md-12"> 
                          <!-- btn btn-lg btn-google btn-block text-uppercase btn-outline google waves-effect waves-light col s11 offset-s6 pull-s5 -->
                          <a href="login/auth/google"class="btn waves-effect waves-light col s12 offset-s7 pull-s7 btn-lg btn-block btn-outline"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>