<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
		<style>
			.facebook {
				background-color: #3b5998 !important;
				color: #fff !important;
			}
			.google {
				background-color: #fafafa !important;
        color: black;
			}
		</style>
  </head>
  <body>
    <% if (login_errors) { %>
      <h2><%= login_errors %></h2>
    <% } %>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Authentication</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <div class="col s6 offset-s3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Login using Node and Passport</span>
            </div>
            <div class="card-action">
                          <form class="login-form" action="login" method="post">
                              <div class="row">
                              </div>
                              <div class="row">
                                  <div class="input-field col s12">
                                      <i class="material-icons prefix">account_circle</i>
                                      <input class="validate" id="username" name="username" type="text">
                                      <label for="authId" data-error="wrong" data-success="right">Username</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="input-field col s12">
                                      <i class="material-icons prefix">lock_outline</i>
                                      <input id="password" type="password" name='password'>
                                      <label for="password">Password</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="input-field col s12">
                                      <button class="btn waves-effect waves-light col s12">Login</button>
                                  </div>
                              </div>
                          </form>
                        <div class="col-md-12"> 
                          <a href="login/auth/google"class="btn btn-lg btn-google btn-block text-uppercase btn-outline google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>